html, body{
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    margin: 0px;
}

a{
    text-decoration: none;
}

#main-hero{
    background-image: url("images/hero-image.jpg");
    background-position: center;
    height: 60%;
}

#main-hero-text{
    padding: 10% 10%;
    color: white;
}

h1{
    font-size: 50px;
    margin: 2px;
}

.subheading{
    font-size: 30px;
    margin: 0px;
}

#github-light, #github-dark{
    height: 20px;
    margin: 0px 5px;
    vertical-align: sub;
    display: inline-block;
}

#github-light{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

footer{
    background-color: rgb(64, 92, 218);
    color: white;
    text-align: center;
    padding: 10px;
}

footer a:hover #github-light{
    display: inline;
}

footer a{
	position: relative;
    display: inline-block;
}

nav{
    padding: 30px;
    color: white;
    font-size: 20px;
}

nav a{
    color: white;
    margin-left: 20px;
}

a:hover{
    color: rgb(168, 168, 168);
}

#about{
    padding: 2% 20%;
    text-align: justify;
}

#projects-heading{
    background-color: black;
}

#projects-text{
    padding: 4% 10%;
    color: white;
}

#projects-table{
    padding: 2% 5%;
}

table{
    text-align: left;
}

th{
    background-color:rgb(64, 92, 218);
    color: white;
}

th, td{
    padding: 5px;
}

.dark-row{
    background-color: rgb(223, 223, 223);
}

.darker-row{
    background-color: rgb(192, 192, 192);
    color: rgb(85, 85, 85);
}