{% assign projects = site.projects | sort: "time" | reverse %}

{% for project in projects %}
<div class="project-item">
    <div>
        <div class="name"><a href="{{ project.url }}">{{ project.base-title }}</a></div>
        <div class="content">
            <div class="description">
                {{ project.base-description }}
            </div>
            <div class="links">
                {% if project.external %}
                <button>
                    <a href="{{ project.external }}" target="_blank">Try it out!</a>
                </button>
                {% endif %}
            </div>
            <div class="tech">
                {% if project.tags %}
                Built in {{ project.time }} with
                {% for tag in project.tags %}
                <span class="tag">{{ tag }}</span>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {% if project.img %}
    <img src="./projects/imgs/{{ project.img }}" />
    {% endif %}
</div>
{% endfor %}