---
---

/* Variables */
$base-color: #000000;
$side-background: #F0B858;
$side-foreground: #C58E2F;

html, body, main{
    min-height: 100vh;
    height: fit-content;
    margin: 0;
    font-family: "JetBrains Mono", monospace;
}

#main-content {
    padding: 3em;
}

#side-header {

    background-color: $side-background;

    // dimensions
    flex-basis: 30%;
    min-height: 100%;

    // margin, padding does not expand it
    box-sizing: border-box;
    
    margin: 0;
    padding: 0 2em;
    padding-top: 3em;

    // layout
    float: left;
    
    #base-icon {
        width: 100px;
    }

    #base-title {
        color: $side-foreground;
        font-size: 2em;
        font-weight: 800;
        padding: 1em 0;
    }

    #base-description {
        color: #FFFFFF;
        font-style: italic;
    }

    #base-info {
        svg {
            position: absolute;
            bottom: 1em;
            width: 50px;
        }

        #base-info-icon:hover + #base-info-content {
            opacity: 1;
        }

        #base-info-content {
            opacity: 0;
        }
        
    }

    // #base-signature {

    // }

}

main {

    height: 100%;
    // Set so all children will by default stretch to common height
    // b/c setting child to 100% height will not work if the height is indefinite
    display: flex;

}

#main-content {

    // Set so that it will fill it the rest of the horizontal space
    // otherwise it will only stretch to fit content
    flex-basis: 70%;
    box-sizing: border-box;

}