---
---

/* Variables */
$base-color: #000000;
$side-background: #F0B858;
$side-foreground: #C58E2F;
// $main-background:;
// $main-foreground:;

// <weight>: Use a value from 100 to 800
// <uniquifier>: Use a unique and descriptive class name

// .jetbrains-mono-<uniquifier> {
//     font-family: "JetBrains Mono", monospace;
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
// }

html, body {
    height: 100%;
    margin: 0;
    font-family: "JetBrains Mono", monospace;
}

#side-header {

    background-color: $side-background;

    // dimensions
    flex-basis: 30%;
    min-height: 100%;

    // margin, padding does not expand it
    box-sizing: border-box;
    
    margin: 0;
    padding: 0 2em;
    padding-top: 3em;

    // layout
    float: left;
    
    #base-icon {
        width: 100px;
    }

    #base-title {
        color: $side-foreground;
        font-size: 2em;
        font-weight: 800;
        padding: 1em 0;
    }

    #base-description {
        color: #FFFFFF;
        font-weight: 100;
        font-style: italic;
    }

    #base-info {
        svg {
            position: absolute;
            bottom: 1em;
            width: 50px;
        }

        #base-info-dark {

        }

        #base-info-light{
            display: none;
        }

        div {
            display: none;
        }
    }

    // #base-signature {

    // }

}

main {

    height: 100%;
    // Set so all children will by default stretch to common height
    // b/c setting child to 100% height will not work if the height is indefinite
    display: flex;

}

#main-content {

    // Set so that it will fill it the rest of the horizontal space
    // otherwise it will only stretch to fit content
    flex-basis: 70%;
    box-sizing: border-box;

}