---
---

// Overriding base of 100% because content is scrollable
html, body, main {
    height: fit-content;
}

#main-content {
    padding: 3em;
    /* font-family: "Jua", sans-serif; */
    font-size: 1.5em;
}

.project-item {

    a {
        color: inherit;
        text-decoration: none;
    }

    .name {
        font-size: 2em;
        padding: 0.5em 0;
    }

    .content {

        display: flex;
        height: fit-content;

        img {
            width: 80%;
            height: auto;
        }

        .actual-content {
            padding: 0.5em 0;

            .links button {
                
            }

            .tech {

                font-size: 0.8em;

                .tag {
                    font-style: italic;
                }

            }
        }

    }

}