---
---

$side-foreground: #C58E2F;
$side-background: #F0B858;

#main-content {
    padding: 3em;
}

.project-item {

    display: flex;
    margin: 2em 0;

    > * {
        flex: 1 1 0; /* all items share space equally */
    }

    .name {
        color: $side-foreground;
        font-size: 1.5em;
    }

    .name:hover {
        color: $side-background;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    img {
        width: 50%;
        border: 1px solid black;
    }

    .content {

        padding: 0.5em 0;

        .links {

            margin: 0.5em 0;

            button {
                margin: 0;
                font-family: "JetBrains Mono", monospace;
            }
        }

        .tech {

            font-size: 0.8em;

            .tag {
                font-style: italic;
            }

        }
    }

}