---
---

$background: #1a1a1a;
$base: white;
$base-hover: rgb(215, 214, 214);
$link-base: #66A9F0;
$link-hover: #0074F0;

$margin-size: 1em;

html {

    /* Styling */
    font-family: "Fira Code", monospace;
    background-color: $background;
    color: $base;

    /* Alignment, Spacing*/
    text-align: center;
    margin: $margin-size; // should be adjusted for the screen width..

    /* Components */
    a {
        color: $link-base;

        &:hover{
            color: $link-hover;
        }
    }

    main {
        text-align: initial;
        margin: auto;
        max-width: 600px;
    }
}

#default-title{

    font-size: 3em;
    font-weight: bold;
    
    margin: $margin-size;

    a {
        color: white;
        text-decoration: none;
        &:hover {
            color: $base-hover;
        }
    }

}

header {

    text-align: center;
    
    #default-nav{
    
        font-size: 1.5em;
        margin: $margin-size;
    
        a {
            text-decoration: underline;
            margin: $margin-size;
            display: block;
        }
    
    }
}

iframe {
    width: 100%;
    height: 100%;
}
