<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tech -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/assets/scss/base.css">

    {% for stylesheet-name in page.styles %}
    <link rel="stylesheet" href="/assets/scss/{{ stylesheet-name }}.css">
    {% endfor %}

    <!-- Font style -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Jua&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inclusive+Sans&family=Workbench&display=swap"
        rel="stylesheet">

    <title>{{ page.base-title }}</title>
</head>

<body>
    <main>
        <div id="side-header">
            <a href="{{ page.base-backlink }}"><img id="base-icon" src={{ page.base-icon-filename | default: "poochie.png" | prepend: '/assets/images/'}} /></a>
            <div id="base-title">{{ page.base-title }}</div>
            <div id="base-description">
                {{ page.base-description }}
            </div>

            {% if page.base-info %}
                {% include {{ page.base-info }} %}
            {% endif %}

        </div>
        <div id="main-content">
            {{ content }}
        </div>
    </main>
</body>

</html>